@using AktifTech.Constant
@using AktifTech.Database.Entity
@{
    ViewData["Title"] = "Anasayfa";
}
@model List<Product>

<div class="container mt-4">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="~/img/kirtasiye2.jpg" class="card-img-top" alt="@product.Name" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Price.ToString("C")</p>
   @*                      <div class="d-flex align-items-center">
                            <input type="number" class="form-control me-2" id="quantity-@product.Id" name="quantity" min="1" max="@product.Quantity" step="1" value="1" style="width: 70px;">
                            <a href="/Cart/Add/@product.Id" class="btn btn-primary">Sepete Ekle</a>
                        </div> *@

                        <form method="post" action="/Basket/AddToBasket">
                            <input type="hidden" name="Id" value="@Encryption.Encrypt(product.Id.ToString())" />
                            <div class="d-flex align-items-center">
                                <input type="number" class="form-control me-2" name="Quantity" min="1" max="@product.Quantity" step="1" value="1" style="width: 70px;">
                                <button type="submit" class="btn btn-primary">Sepete Ekle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<style>
    .card {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
</style>